<div class="container">
<h1 class="title">Welcome to my page</h1>
<h3>Here you can add your article 🖌</h3>
<%= link_to "Créer un nouvel article ", new_article_path %>
<% @articles.each do |article| %>
  <h3 class="title-content"><%= article.title %></h3>
  <p class="content" id="content"><%= article.content %></p>
  <h5><%= article.rate %></h5>
  <ul class="list-group">
    <% article.comments.each do |comment| %>
      <li class="list-group-item"><%= comment.content%></li>
    <% end %>
  </ul>
  <%= link_to "editer un article", edit_article_path(article) %>
  <br>
  <%= link_to "Supprimer l'article", article_path(article), method: :delete %>
  <br>
  <%= link_to "Ajouter un commentaire", new_article_comment_path(article)%>
<% end %>
</div>
