<div class="container">
  <h1>Articles#new</h1>
  <%= simple_form_for @article do |f| %>
  <%= f.input :title, title: "title" %>
  <%= f.input :content, content: "content" %>
  <%= f.input :rate, rate: "rating" %>
  <%= f.button :submit, 'Créer un article', class: 'btn-primary'%>
  <% end %>
</div>
